language: node_js
node_js:
  - 15
cache:
  directories:
    - node_modules
script:
  - npm run travis:build
  - npm run travis:test
before_install:
  - echo $pw | gpg --yes --passphrase-fd 0 .env.gpg
branches:
  only:
    - main
