@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --background: #fcfcfc;
  --foreground: #1d2226;
  --card: #fafafa;
  --card-foreground: #1d2226;
  --popover: #fcfcfc;
  --popover-foreground: #1d2226;
  --primary: #006eb6;
  --primary-foreground: #fcfcfc;
  --secondary: #ebeff1;
  --secondary-foreground: #243037;
  --muted: #f0f2f4;
  --muted-foreground: #5e6468;
  --accent: #ebeff1;
  --accent-foreground: #243037;
  --destructive: #b9463f;
  --destructive-foreground: #fcfcfc;
  --border: #d6d8d9;
  --input: #e3e5e6;
  --ring: #136b94;
  --chart-1: #2e6a8a;
  --chart-2: #618d62;
  --chart-3: #9b5f5a;
  --chart-4: #a1764b;
  --chart-5: #705e90;
  --sidebar: #fafafa;
  --sidebar-foreground: #1d2226;
  --sidebar-primary: #136b94;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #ebeff1;
  --sidebar-accent-foreground: #243037;
  --sidebar-border: #d6d8d9;
  --sidebar-ring: #136b94;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #050607;
  --foreground: #edeff0;
  --card: #090c0d;
  --card-foreground: #edeff0;
  --popover: #07090b;
  --popover-foreground: #edeff0;
  --primary: #408fba;
  --primary-foreground: #050607;
  --secondary: #161b1f;
  --secondary-foreground: #edeff0;
  --muted: #131719;
  --muted-foreground: #7b8186;
  --accent: #161b1f;
  --accent-foreground: #edeff0;
  --destructive: #9c443c;
  --destructive-foreground: #edeff0;
  --border: #1e2225;
  --input: #171b1e;
  --ring: #408fba;
  --chart-1: #538eb0;
  --chart-2: #709c71;
  --chart-3: #ab6d68;
  --chart-4: #b1855a;
  --chart-5: #816fa3;
  --sidebar: #090c0d;
  --sidebar-foreground: #edeff0;
  --sidebar-primary: #408fba;
  --sidebar-primary-foreground: #050607;
  --sidebar-accent: #161b1f;
  --sidebar-accent-foreground: #edeff0;
  --sidebar-border: #1e2225;
  --sidebar-ring: #408fba;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  .svg-white {
    filter: brightness(0) invert(1);
  }

  .svg-black {
    filter: none;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}
