@charset "utf-8";

@import "./exports.module.scss";

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/menu.sass";

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/select.sass";
@import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/checkbox-radio.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/bulma/sass/helpers/all";
@import "../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// *,
// body,
// button,
// input,
// select,
// textarea {
//   font-family: $font_family;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  padding: 1em;
}

.nav-title {
  padding-left: 6px;
  color: white;
  font-size: large;
}

.navbar-item:hover {
  @extend .scale-up-center;
}

.center-table th {
  text-align: center !important;
  vertical-align: middle !important;
}

@media screen and (min-width: 769px), print {
  .wide-label .field-label {
    flex-grow: 2; /* overwrites previous value of 1 */
  }
}

input[type="checkbox"] {
  height: auto;
  width: auto;
}

input[type="number"],
input:disabled {
  min-width: 5em;
}

.navbar {
  margin-bottom: 0 !important;
}

a.navbar-item:hover,
a.navbar-item:active,
a.navbar-item:focus {
  background-color: $primary;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 3%;
}

$headings: h1, h2, h3, h4, h5, h6, h7;
.md-article {
  @each $a in zip($headings, $sizes) {
    #{nth($a, 1)} {
      font-size: nth($a, 2);
      padding-bottom: 0.1em;
      padding-top: 1em;
    }
  }

  p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.content {
  img {
    display: block;
    margin: 0 auto;
    padding: 1em;
  }
}

// Move loading spinner
.control.is-loading::after {
  right: 4em;
}

label.checkbox {
  padding-top: 6px;
  line-height: 1.5;
}

.box {
  background-color: $g1;
}
.box:hover {
  background-color: $g2;
}

.recalc-box {
  background-color: $g1;
  border-radius: $box-radius;
  color: $box-color;
  padding: 1rem;
  border: 1px solid $g1_5;
  margin: 0.25rem;
}

.recalc-box:hover {
  background-color: $g2;
  border: 1px solid $g3;
  @extend .scale-down-center;
}

[data-tooltip] {
  z-index: 2791;
}

@for $i from 1 through 9 {
  .fg-#{$i} {
    flex-grow: #{$i};
  }
}

$scaleDown: 0.97;
$scaleUp: 1.03;
$scaleTime: 0.075s;
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale($scaleDown);
    transform: scale($scaleDown);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale($scaleDown);
    transform: scale($scaleDown);
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale($scaleUp);
    transform: scale($scaleUp);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale($scaleUp);
    transform: scale($scaleUp);
  }
}

.scale-down-center {
  -webkit-animation: scale-down-center $scaleTime linear both;
  animation: scale-down-center $scaleTime linear both;
}

.scale-up-center {
  -webkit-animation: scale-up-center $scaleTime linear both;
  animation: scale-up-center $scaleTime linear both;
}
