@charset "utf-8";

$shaker: #0072bb;

$primary: $shaker;
$secondary: white;
$accent: #204b57;

$chart_colors: ($primary, #fc7a57, #59cd90);

$font_family: "Quicksand", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

:export {
  primary: $primary;
  font_family: $font_family;
  chart_colors: $chart_colors;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/message.sass";

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/select.sass";
@import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/checkbox-radio.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: $font_family !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-right {
  text-align: right;
}

nav {
  padding: 1em;
}

.nav-title {
  padding-left: 6px;
  color: $secondary;
}

.center-table th {
  text-align: center !important;
  vertical-align: middle !important;
}

@media screen and (min-width: 769px), print {
  .wide-label .field-label {
    flex-grow: 2; /* overwrites previous value of 1 */
  }
}

input[type="checkbox"] {
  height: auto;
  width: auto;
}

input[type="number"],
input:disabled {
  min-width: 5em;
}

.navbar {
  margin-bottom: 0 !important;
}

a.navbar-item:hover,
a.navbar-item:active,
a.navbar-item:focus {
  background-color: $primary;
}

.hero-body {
  padding-top: 0;
}
