@charset "utf-8";

$shaker: #0072bb;

$primary: $shaker;
$secondary: white;
$accent: #204b57;

$chart_colors: ($primary, #fc7a57, #59cd90, #2f195f, #832232, #011936);

$pdp_colors: (
  #5fad56,
  #f2c14e,
  #f78154,
  #4d9078,
  #b4436c,
  #006ba6,
  #0496ff,
  #8f2d56,
  #2b2d42,
  #92dce5,
  #c2aff0,
  #c04cfd,
  #496f5d,
  #a2a77f,
  #ff2e00,
  #444554
);

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@450;625&display=swap");
$font_family: "Quicksand", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

:export {
  primary: $primary;
  font_family: $font_family;
  chart_colors: $chart_colors;
  pdp_colors: $pdp_colors;
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/menu.sass";

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/select.sass";
@import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/checkbox-radio.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/bulma/sass/helpers/all";
@import "../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
body,
button,
input,
select,
textarea {
  font-family: $font_family;
}

@import "../node_modules/katex/dist/katex.min.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-right {
  text-align: right;
}

nav {
  padding: 1em;
}

.nav-title {
  padding-left: 6px;
  color: $secondary;
}

.center-table th {
  text-align: center !important;
  vertical-align: middle !important;
}

@media screen and (min-width: 769px), print {
  .wide-label .field-label {
    flex-grow: 2; /* overwrites previous value of 1 */
  }
}

input[type="checkbox"] {
  height: auto;
  width: auto;
}

input[type="number"],
input:disabled {
  min-width: 5em;
}

.navbar {
  margin-bottom: 0 !important;
}

a.navbar-item:hover,
a.navbar-item:active,
a.navbar-item:focus {
  background-color: $primary;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 3%;
}

$headings: h1, h2, h3, h4, h5, h6, h7;
.md-article {
  @each $a in zip($headings, $sizes) {
    #{nth($a, 1)} {
      font-size: nth($a, 2);
      padding-bottom: 0.1em;
      padding-top: 1em;
    }
  }

  p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.content {
  img {
    display: block;
    margin: 0 auto;
    padding: 1em;
  }
}

// Move loading spinner
.control.is-loading::after {
  right: 4em;
}
