@charset "utf-8";

$aqua: #7ad3c1;
$onyx: #353842;

$primary: $aqua;
$font_family: 'Quicksand', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

:export {
  primary: $primary;
  font_family: $font_family;
}

// @import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import "../node_modules/bulma/bulma.sass";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select {
  font-family: $font_family;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-right {
  text-align: right;
}

nav {
  padding: 1em;
}
