name: Web CI

on:
  pull_request_target:
    branches: [main]

jobs:
  unit_tests:
    runs-on: ubuntu-22.04
    environment: recalc-env
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: yarn install

      - run: yarn build
        env:
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}

      - name: Run tests
        env:
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}
        run: yarn test --coverage

  cypress_e2e:
    runs-on: ubuntu-22.04
    environment: recalc-env
    container: cypress/included:10.11.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: yarn install

      - run: yarn build
        env:
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}

      - name: Cypress e2e tests
        uses: cypress-io/github-action@v4.2.0
        with:
          install: false
          start: yarn start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 60
          record: false
          spec: cypress/e2e/*
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  cypress_component:
    runs-on: ubuntu-22.04
    environment: recalc-env
    container: cypress/included:10.11.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: yarn install

      - run: yarn build
        env:
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}

      - name: Cypress component tests
        uses: cypress-io/github-action@v4.2.0
        with:
          install: false
          start: yarn start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 60
          record: false
          component: true
          spec: cypress/component/*
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  deploy_dev:
    needs: [unit_tests, cypress_e2e, cypress_component]
    runs-on: ubuntu-22.04
    environment: recalc-env
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: "Vercel dev deploy"
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GH_PAT }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          github-comment: true
