name: Web CI

on:
  pull_request_target:
    branches: [main]

jobs:
  unit_tests:
    runs-on: ubuntu-22.04
    environment: recalc-env
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node 18
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - run: yarn install

      - run: yarn build
        env:
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}

      - name: Run tests
        env:
          VITE_KEYPHRASE: ${{ secrets.VITE_KEYPHRASE }}
        run: yarn test

  deploy_dev:
    needs: [unit_tests]
    runs-on: ubuntu-22.04
    environment: recalc-env
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node 18
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: "Vercel dev deploy"
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GH_PAT }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          github-comment: true
